body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container {
    .navbar {
      z-index: 10;
      // opacity: 1;
      background-color: rgba(0, 0, 0, 0) !important;
      .nav-link.active {
        color: red;
      }
    }

    //   }
    // .navbar-brand {
    //   z-index: 100;

    //   }
  }

  .homepage-container {
    .homepage-content {
      padding: 100px;
      width: 45%;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .title-1 {
        font-size: 30px;
      }
    }
  }

  video {
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
}

.img-preview{
  height: 150px;
  border: 1px dashed #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

img{
  width:150px;
  height: 150px;
}
