.input-with-icon {
    position: relative;
  }
  
  .input-icon {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
  }

  .loaderIcon:disabled {
    margin-right: 7px;
    top: 2px;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}